* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
font-family: 'Montserrat', sans-serif;
background-color: #333;
font-size: 36px;
color: #fff;
}
button{
    position: absolute;
    top: 50px;
    width: 120px;
    font-family: 'Nunito',sans-serif;
    transform: translateX(-50%);
    background: none;
    color: white;
    font-weight: bold;
    border:3px solid white;
    border-radius: 5px;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: white;
    color: #000;
}
.btn-zoom{
    left:30%;
}

.btn-move{
    left:50%;
}

.btn-color{
    left:70%;
}
.square{
    position: absolute;
    top: 150px;
    width: 100px;
    height: 100px;
    background-color: white;
    transform: translateX(-50%);
    border-radius: 25px;
    transition: .3s;
}
.blue{
    left:30%;
    background-color: blue;
    border: 2px solid , rgb(7, 46, 97);
    box-shadow: 0 0 15px; color: rgb(0, 110, 255);
}

.red{
    left:50%;
    background-color:red;
    border: 2px solid , rgb(97, 7, 7);
    box-shadow: 0 0 15px; color: rgb(206, 42, 42);
}  

.green{
    background-color: green;
    left:70%;
    border: 2px solid , rgb(7, 97, 7);
    box-shadow: 0 0 15px; color: rgb(0, 255, 34);
}
.btn-zoom:hover ~ .square{
    width: 200px;
    height: 200px;
}
.btn-move:hover ~ .square{
    top: 400px;
}
.btn-color:hover ~ .square{
    color: black;
    background-color: #000;
} 